#root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #D9D9D9;
  background: radial-gradient(94.78% 66.84% at 58.67% 50%, #215341 0%, #3F2760 100%);
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow:hidden; */
}