.sidebar-item.active:after {
    background-color: #0061b4;
    border-radius: 6px;
    content: "";
    width: 50%;
    top: 0px;
    position: absolute;
    left: calc((65px/2)-(45%/2));
    height: 3px;
}
